<main>
  <div class="content" [ngClass]="{'visible-confirm' : showConfirm}">
    <div class="title">
      <div class="title-image" >
        <img src="images/love.jpg" alt="" appObserveVisibility >
      </div>
      <div class="title-content">
        <h1 appObserveVisibility>В</h1>
        <section class="line" appObserveVisibility></section>
        <h1 appObserveVisibility>В</h1>
      </div>
      <div class="about-date" appObserveVisibility>
        <p>save the date</p>
        <p class="date"> 28.08.2025</p>
      </div>
    </div>
    <div class="dear-guests-block">
      <h2 appObserveVisibility>Дорогі гості!</h2>
      <span appObserveVisibility>Запрошуємо вас розділити з нами радість <br>
      особливої для нас події та стати частиною <br>
      нашої історії</span>
    </div>
    <div class="all-content-block">
      <h3 appObserveVisibility>Серпень</h3>
      <div class="calendar-date" appObserveVisibility>
        <section class="line-days">
          <div><p>Пн</p></div>
          <div><p>Вт</p></div>
          <div><p>Ср</p></div>
          <div><p>Чт</p></div>
          <div><p>Пт</p></div>
          <div><p>Сб</p></div>
          <div><p>Нд</p></div>
        </section>
        <section class="line-days">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div><p>1</p></div>
          <div><p>2</p></div>
          <div><p>3</p></div>
        </section>
        <section class="line-days">
          <div><p>4</p></div>
          <div><p>5</p></div>
          <div><p>6</p></div>
          <div><p>7</p></div>
          <div><p>8</p></div>
          <div><p>9</p></div>
          <div><p>10</p></div>
        </section>
        <section class="line-days">
          <div><p>11</p></div>
          <div><p>12</p></div>
          <div><p>13</p></div>
          <div><p>14</p></div>
          <div><p>15</p></div>
          <div><p>16</p></div>
          <div><p>17</p></div>
        </section>
        <section class="line-days">
          <div><p>18</p></div>
          <div><p>19</p></div>
          <div><p>20</p></div>
          <div><p>21</p></div>
          <div><p>22</p></div>
          <div><p>23</p></div>
          <div><p>24</p></div>
        </section>
        <section class="line-days">
          <div><p>25</p></div>
          <div><p>26</p></div>
          <div><p>27</p></div>
          <div class="our-day"><p>28</p>
            <img src="images/heart.png">
          </div>
          <div><p>29</p></div>
          <div><p>30</p></div>
          <div><p>31</p></div>
        </section>
        <h4>2025</h4>
      </div>
      <div class="location-block">
        <h3 appObserveVisibility>Локація</h3>
        <p>Ресторан "Вогні Долини" </p>
        <p> вулиця Обліски, 34а, Долина</p>
        <a href="https://maps.app.goo.gl/rUci4tLrEzbBzJCx7">
          <button appObserveVisibility>Подивитись на мапі</button>
        </a>
      </div>
      <div class="time-block">
        <h3 appObserveVisibility>Таймінг</h3>
        <div class="event" appObserveVisibility>
          <div class="photo">
            <img src="images/dove.png" alt="">
            <p>Вінчання</p>
          </div>
          <section></section>
          <div class="time">
            <p>11:30</p>
          </div>
        </div>

        <div class="event" appObserveVisibility>
          <div class="photo">
            <img src="images/wedding-arch.png" alt="">
            <p>Церемонія біля ресторану</p>
          </div>
          <section></section>
          <div class="time">
            <p>14:00</p>
          </div>
        </div>

        <div class="event" appObserveVisibility>
          <div class="photo">
            <img src="images/banquet.png" alt="">
            <p>Святковий бенкет</p>
          </div>
          <section></section>
          <div class="time">
            <p>14:00</p>
          </div>
        </div>

        <div class="event" appObserveVisibility>
          <div class="photo">
            <img src="images/cake.png" alt="">
            <p>Завершення вечора</p>
          </div>
          <section></section>
          <div class="time">
            <p>23:00</p>
          </div>
        </div>
      </div>
      <div class="dress-code">
        <h3 appObserveVisibility>Дрес-код</h3>
        <p>Ми будемо дуже вдячні, якщо ви оберете наряди <br>у кольорах нашого весілля:</p>
        <div class="colors">
          <div class="green-color"></div>
          <div class="yellow-color"></div>
          <div class="red-color"></div>
        </div>
        <p>Разом ми створимо це свято особливим!</p>
      </div>
      <div class="details-block">
        <h3 appObserveVisibility>Деталі</h3>
        <span>Дорогі наші гості!
              Ми будемо щиро раді бачити вас на нашому весіллі —
              святі любові, щастя та незабутніх емоцій.
              Із вдячністю за ваше бажання привітати нас,
              просимо замість квітів подарувати
              пляшечку улюбленого вами алкоголю —
              вона точно ще не раз допоможе нам згадати цей день з усмішкою.
              <br>З любов’ю, Володимир та Віта!</span>

        <img src="images/_MG_3188.jpg" alt="">
      </div>
      <div class="presence">
        <p>Будь ласка, підтвердьте свою присутність на нашому весіллі до 1 серпня 2025 року.
          Ми з нетерпінням чекаємо на вас!</p>
        <button (click)="acceptPresence()" [disabled]="showConfirm">Підтвердити присутність</button>

      </div>
      <div class="img">
<!--        <img src="images/_MG_3215.jpg" alt="">-->
      </div>
    </div>
  </div>
  <div class="confirm-presence" [ngClass]="{'visible' : showConfirm}">
    <h3>Просимо вас відповісти на декілька запитань:</h3>
    <form #myForm="ngForm" (ngSubmit)="submitForm()" method="post">
      <input [(ngModel)]="name" type="text" id="name" name="name" placeholder="Ваше ім'я" required> <br>
      <label>
        <input [(ngModel)]="side" class="radio" type="radio" name="groom" value="groom">
        Ми друзі/рідні нареченого
      </label>
      <br>
      <label>
        <input [(ngModel)]="side" class="radio" type="radio" name="groom" value="bride" required>
        Ми друзі/рідні нареченої
      </label><br>
      <input [(ngModel)]="family" type="text" id="family" name="family"
             placeholder="Перерахуйте всіх присутніх з вашої сім'ї" required>
      <button type="submit" [disabled]="!myForm.valid">Відправити</button>
    </form>
  </div>
</main>
