main{
  width: 100%;
  font-family: "Great Vibes", cursive;
  font-weight: normal;
  font-style: normal;
  color: #FFF;

  .content {
    margin: 0 auto;
    width: 40%;
    &.visible-confirm {
      opacity: 0.2;
      transition: all 0.5s ease-in;

    }
    h3 {
      font-size: 70px;
      font-weight: normal;
    }

    .title {
      width: 100%;
      position: relative;
      text-align: center;

      img{
        width: 80%;
        padding: 10%;
        &.animation {
          padding: 0;
          width: 100%;
          transition: all 1s linear;
        }
      }


      .title-content {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 20vh;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        h1 {
          font-size: 100px;
          font-weight: normal;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
          text-align: center;
          transform: translateY(20%);
          opacity: 0;
          &:last-of-type {
            transform: translateY(-20%);
          }
          &.animation {
            opacity: 1;
            transform: translateY(0%);
            transition: all 500ms ease-in;
            transition-delay: 2s;
          }

        }
        section {
          position: absolute;
          height: 0px;
          border: #fff 2px solid;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          box-shadow:  2px 2px 4px rgba(0, 0, 0, 1);
          opacity: 0;

          &.animation {
            height: 150px;
            transition: all 1s ease-in-out;
            transition-delay: 1s;
            opacity: 1;
          }
        }

      }

      .about-date{
        position: absolute;
        left: 50%;
        bottom: 20%;
        transform: translate(-50%, 100%);
        opacity: 0;

        &.animation {
          opacity: 1;
          transform: translate(-50%, -50%);
          transition: all 1s linear;
          transition-delay: 2500ms;
        }
        p{
          margin: 0 auto;
          font-size: 40px;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
          .date{
            font-size: 60px;
          }
        }
      }
    }
    .dear-guests-block {
      margin: 20px 0;
      text-align: center;
      h2 {
        margin: 10px 0;
        font-family: 'Roboto', sans-serif;
        color: #2b2b2b;
        font-weight: 500;
        font-size: 50px;
        opacity: 0;
        &.animation {
          opacity: 1;
          transition: all 1000ms ease-in;
        }
      }
      span {
        font-family: 'Roboto', sans-serif;
        color: #646363;
        font-weight: 400;
        font-size: 20px;
        opacity: 0;
        &.animation {
          opacity: 1;
          transition: all 1000ms ease-in;
          transition-delay: 500ms;
        }
      }
    }


    .all-content-block {
      margin-top: 60px;
      color: #3E3A39;
      text-align: center;

      h3 {
        opacity: 0;

        &.animation {
          opacity: 1;
          transition-delay: 1s;
          transition: 1000ms opacity ease-in;
        }

        margin-bottom: 20px;
      }

      .calendar-date {
        font-family: 'Roboto', sans-serif;
        opacity: 0;

        &.animation {
          opacity: 1;
          transition: 1000ms opacity ease-out;
          transition-delay: 1000ms;
        }

        .line-days {
          margin: 10px 0;
          display: flex;
          flex-direction: row;

          div {
            flex: 1;

          }

          .our-day {
            position: relative;
            color: red;
            font-weight: bolder;

            img {
              position: absolute;
              height: 500%;
              top: -200%;
              left: 50%;
              transform: translate(-50%, 0%);
            }
          }

        }

        h4 {
          font-weight: 600;
          color: #65635f;
          margin: 40px;
          font-size: 30px;
        }
      }


      .location-block {
        background-color: #f9f7f9;
        padding: 30px 0;

        p {
          font-family: 'Roboto', sans-serif;
          color: #646363;
          font-weight: 400;
          font-size: 20px;
          margin: 10px;
        }

        button {
          margin: 20px 0;
          width: 100px;
          height: 20px;
          border-radius: 30px;
          font-family: 'Roboto', sans-serif;
          color: #2b2b2b;
          font-weight: 400;
          font-size: 8px;
          cursor: pointer;
          border: 2px solid #2b2b2b;
          background: #f9f7f9;

          &:hover {
            background-color: #6b3d1f;
            color: #FFFFFF;
          }

          &.animation {
            width: 200px;
            height: 30px;
            font-size: 15px;
            transition: all 1s linear;
          }
        }
      }

      .time-block {
        padding: 50px 0;

        p {
          font-family: "Cormorant Garamond", serif;
          font-optical-sizing: auto;
          font-weight: normal;
          font-style: normal;
        }

        .event {
          position: relative;
          display: flex;
          margin: 30px 0;
          margin-top: 100px;
          opacity: 0;

          &.animation {
            margin: 30px 0;
            transition: all 1s ease-out;
            opacity: 1;
          }

          div {
            flex: 1;
          }

          .photo {
            font-size: 20px;

            img {
              width: 50px;
            }
          }

          .time {
            display: flex;
            font-size: 30px;

            p {
              margin: auto;
            }
          }

          section {
            position: absolute;
            height: 100%;
            left: 50%;
            top: 0;
            border: #2b2b2b 1px solid;
          }
        }
      }

      .dress-code {
        p {
          font-family: 'Roboto', sans-serif;
          color: #646363;
          font-weight: 400;
          font-size: 20px;
          margin: 10px;
        }

        .colors {
          margin: 20px auto;
          display: inline-flex;
          gap: 15px;
          border-radius: 50px;
          border: 1px black solid;
          padding: 15px;

          div {
            height: 50px;
            width: 50px;
            border-radius: 50px;
            border: 1px black solid;
          }

          .green-color {
            background-color: green;
          }

          .yellow-color {
            background-color: yellow;
          }

          .red-color {
            background-color: red;
          }
        }
      }
      .details-block {
        border: black 2px solid;
        border-radius: 10px;
        margin: 50px;
        padding: 20px;
        span {
          font-family: 'Roboto', sans-serif;
          font-optical-sizing: auto;
          font-weight: normal;
          font-style: normal;
          font-size: 20px;
          text-align: left;
        }
        img {
          margin-top: 20px;
          width: 100%;
        }
      }
      .presence {
        font-family: 'Roboto', sans-serif;
        margin: 0px 50px;
        display: flex;
        flex-direction: column;

        p {
          color: #646363;
          font-weight: 400;
          font-size: 15px;
          width: 80%;
          margin: 10px auto;
          line-height: 1.5;
        }

        button {
          width: 40%;
          height: 50px;
          margin: 0 auto;
          font-weight: bolder;
          color: #6D5A5F;
          background-color: #fdc0c0;
          border: none;
          border-radius: 50px;

          &:hover {
            cursor: pointer;
            color: #fdc0c0;
            background-color: #6D5A5F;
            transition: all 500ms;
          }
        }
      }
    }
    padding-bottom: 50px;
  }
  .confirm-presence {
    &.visible {
      top: 50%;
      transition: all 0.5s ease-in;
      opacity: 1;
    }
    position: fixed;
    width: 40%;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #b58f84;
    padding: 20px 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    border-radius: 50px;
    transition: all 2s linear;
    h3 {
        font-family: "Georgia", sans-serif;
        font-size: 40px;
        font-weight: normal;
        margin-bottom: 20px;
        z-index: 0;
    }


    form {
      text-align: left;
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
        height: 50px;
        background-color: #b58f84;
        border: 1px solid white;
        border-radius: 10px;
        color: white;
        padding-left: 20px;
        outline: none;

        &::placeholder {
          color: white;
        }

        &.radio {
          margin: 20px;
          width: 15px;
          height: 15px;
        }

      }

      button {
        margin:20px auto 0 auto;
        width: 200px;
        height: 50px;
        border: none;
        font-weight: bolder;
        color: #6D5A5F;
        background-color: #FFFFFF;
        border-radius: 50px;

        &:not(:disabled):hover {
          cursor: pointer;
          color: #fdc0c0;
          background-color: #6D5A5F;
          transition: all 0.4s;
          transform: translateY(-4%);
        }

        &:disabled {
          background-color: #646363;
          color: #adadad;
        }
        &.close {
          background-color: #de3232;
          color: #FFFFFF;

          &:hover {
            background-color: #ea2323;
            transition: all 0.4s ease-out;
            transform: translateY(-4%);
          }
        }
      }
    }

  }
}

