/*
.main {
  background-color: #f3d6f3;
  display: block;


  .image {
    display: flex;
    flex-direction:column;
    margin: 0 auto;
    //height: 150vh;
    width: 1500px;
    background-image: url("../../../public/images/love.jpg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;

    .wedding-text {
      margin: 20px auto;
      font-size: 70px;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: normal;
      font-style: normal;
      color: white;

    }

    .invation-text {
      margin: auto;
      margin-top: 500px;
      width: 500px;
      font-size: 30px;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: normal;
      font-style: normal;
      color: white;
    }

  }
}
*/
.main {
  background-color: #f3d6f3;
  display: block;

  .main-ribbon {
    width: 50%;
    margin: 0 auto;

    .image-block {
      position: relative;
      margin: 0 auto;
      display: block;
      width: 100%;

      img {
        width: 100%;
      }
      p {
        font-size: 70px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }

      .image-text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }
      .wedding-text {
        top: 5%;
        white-space: nowrap;
      }
      .names-text {
        top: 15%;

        p {
          font-size: 40px;
        }
      }

      .invation-text {
        top: 80%;
        white-space: nowrap;
        p {
          font-size: 30px;
        }
      }
    }

    .date-block {
      width: 100%;
      position: relative;

      p {
        font-size: 70px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }

      .date-image {
        position: relative;
        left: 0;
        top: 0;
      }

      .date-text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 250px;


      }
      section {
        display: block;
        border: 1px solid #8d6262;
        margin: 20px auto;
        width: 60%;
      }

      .date-info {
        padding: 10px;
        text-align: center;
      }

    }

    .plan {
      margin-top: 100px;
      width: 100%;

      .title {
        text-align: center;

        h3 {
          font-size: 50px;
          font-family: "Montserrat", sans-serif;
          font-optical-sizing: auto;
          font-weight: normal;
          font-style: normal;
          color: white;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
      }

      .plan-info {
        display: flex;

        .plan-image {
          width: 50%;
          img {
            width: 80%;
            margin: 0 10%;
          }
        }

        .plan-routine {
          width: 50%;
          margin-top: 50px;

          section {
            margin: 40px 20px;
            width: 100%;

            h4 {
              font-size: 40px;
              font-family: "Montserrat", sans-serif;
              font-optical-sizing: auto;
              font-style: normal;
              color: white;
              text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
              font-weight: bolder;
            }

            p {
              font-size: 30px;
              font-family: "Montserrat", sans-serif;
              font-optical-sizing: auto;
              font-weight: normal;
              font-style: normal;
              color: white;
              text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
    }

    .address {
      width: 100%;
      margin-top: 150px;
      text-align: center;

      .address-info {
        h3{
          font-size: 40px;
          font-family: "Montserrat", sans-serif;
          font-optical-sizing: auto;
          font-style: normal;
          color: white;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
          font-weight: bolder;
          margin-bottom: 30px;
        }
        p {
          font-size: 20px;
          font-family: "Montserrat", sans-serif;
          font-optical-sizing: auto;
          font-weight: normal;
          font-style: normal;
          color: white;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
          margin-bottom: 30px;
        }
      }

      button {
        margin-top: 20px;
          display: inline-block;
          padding: 10px 25px;
          border: 1px solid #8d6262;
          border-radius: 50px;
          background-color: transparent;
          color: #8d6262;
          text-decoration: none;
          font-size: 18px;
          font-family: "Montserrat", sans-serif;
          transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: #6b3d1f;
          color: white;
        }
      }
    }

    .acception {
      margin-top: 100px;
      width: 100%;
      display: block;
      text-align: center;
      img {
        width: 80%;
      }

      h3 {
        margin-top: 30px;
        font-size: 70px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-weight: bolder;
      }

      p {
        margin-top: 40px;
        font-size: 25px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }


    }
  }






}
